.compete__wrapper.surveygizmo-wrapper  .game-wall-list .wall-item .item__wrapper {
    background-size: cover;
    background-image: url("../images/survey-banner.png");
}
.compete__wrapper.surveygizmo-wrapper .game-wall-list .wall-item .overlay{
    padding: 30px 0px 50px 0;
}
#surveygizmo-survey-form .compete__wrapper .game__detail .question__list .odd{
    background-color: transparent;
}
#surveygizmo-survey-form .compete__wrapper .game__detail .question__list .even{
    background-color: transparent;
}
#surveygizmo-survey-form .question__list .qtn-number {
    color: #169EB4;
}
#surveygizmo-survey-form .game__detail .qution_item .fieldset-legend{
    padding-left: 0;
}
#surveygizmo-survey-form .radio input[type="radio"] {
    top: 2px;
}
#surveygizmo-survey-form .game__detail .qution_item .fieldset-wrapper .radio{
    padding-left: 15px;
}
#surveygizmo-survey-form .game__detail .qution_item .form-checkboxes{
    padding-left: 35px;
}
#surveygizmo-survey-form .qution_item .form-required::after {
    position: relative;
    top: -4px;
    right: -3px;
}