<div class="compete__wrapper">
  <div class="game__detail">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="question__list">
         {{form}}
        </ul>
        
      </div>
    </div>
  </div>
</div>